body {
 background-color: aliceblue;
}

h2 {
    color:blue;
    font-weight:beige;
    text-align:center;

}

form{
    max-width: 400px;
    margin:0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
}