body {
    background-color: aliceblue;
}

h2 {
    color:brown;
    text-align: center;
    margin-bottom: 30px;
}

.card-title {
    color:aquamarine;
}

.card {
    border: 1px solid;
    transition: transforma 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    width: 100%;
    max-height: 200px;
    object-fit: contain; /* ou "cover" */
    background-color: blueviolet; /* para fundo cinza se imagem for menor*/
    padding: 10px;
}